/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm_l: hm_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>;
            quick-tap-ms = <30>;

            // Optional but often GREAT for HRMs:

            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;

            // allow holds only when next key is on RIGHT side (including right thumbs)

            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        hm_r: hm_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>;
            quick-tap-ms = <30>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;

            // allow holds only when next key is on LEFT side (including left thumbs)

            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };
    };

    combos {
        compatible = "zmk,combos";

        clear_bt {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <3 4 5 6 7 8>;
        };
    };

    macros {
        git_push_ob: git_push_ob {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp P &kp U &kp S &kp H &kp SPACE &kp MINUS &kp U &kp SPACE &kp O &kp R &kp I &kp G &kp I &kp N &kp SPACE &kp DLLR &kp LPAR &kp B &kp R &kp A &kp N &kp C &kp H &kp RPAR>;
            label = "GIT_PUSH_OB";
        };

        git_commit_m: git_commit_m {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp C &kp O &kp M &kp M &kp I &kp T &kp SPACE &kp MINUS &kp M &kp SPACE &kp DQT &kp DQT &kp LEFT>;
            label = "GIT_COMMIT_M";
        };

        git_pull: git_pull {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp I &kp T &kp SPACE &kp P &kp U &kp L &kp L>;
            label = "GIT_PULL";
        };

        js_if_stmt: js_if_stmt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp F &kp SPACE &kp LPAR &kp RPAR &kp SPACE &kp LBRC &kp RBRC &kp LEFT_ARROW &kp LEFT &kp LEFT_ARROW &kp LEFT>;
            label = "JS_IF_STMT";
        };

        js_arrow_fn: js_arrow_fn {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp SPACE &kp EQUAL &kp GT &kp SPACE &kp LBRC &kp RET &kp RET &kp RBRC &kp UP_ARROW &kp TAB>;
            label = "JS_ARROW_FN";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Home";
            bindings = <
&caps_word         &kp Q    &kp W             &kp E           &kp R               &kp T           &kp Y         &kp U                &kp I            &kp O              &kp P            &kp MINUS
&kp ESCAPE         &lt 2 A  &hm_l LEFT_ALT S  &hm_l LCTRL D   &hm_l LEFT_SHIFT F  &hm_l LGUI G    &hm_r RGUI H  &hm_r RIGHT_SHIFT J  &hm_r RCTRL K    &hm_r RIGHT_ALT L  &lt 2 SEMICOLON  &kp SQT
&kp LC(LA(LSHFT))  &kp Z    &kp X             &kp C           &kp V               &kp B           &kp N         &kp M                &kp COMMA        &kp DOT            &kp FSLH         &kp RG(RS(RC(RIGHT_ALT)))
                                              &lt 2 LEFT_GUI  &lt 4 BACKSPACE     &lt 5 TAB       &mo 3         &lt 1 SPACE          &lt 2 RIGHT_ALT
            >;
        };

        numbers {
            display-name = "numbers";
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &kp NUMBER_5    &kp NUMBER_6  &kp N7        &kp N8        &kp N9        &kp NUMBER_0  &kp DELETE
&trans  &trans        &kp LEFT_ALT  &kp LCTRL     &kp LEFT_SHIFT  &kp LGUI        &kp NUMBER_0  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans        &kp RETURN
&trans  &trans        &trans        &trans        &trans          &trans          &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD    &trans
                                    &trans        &trans          &trans          &trans        &trans        &trans
            >;
        };

        symbols {
            display-name = "Symbols";
            bindings = <
&trans  &trans           &kp LESS_THAN  &kp GREATER_THAN  &kp DLLR     &kp NON_US_BACKSLASH    &kp AMPERSAND  &kp DOLLAR  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans         &kp DELETE
&trans  &kp EXCLAMATION  &kp MINUS      &kp PLUS          &kp EQUAL    &kp HASH                &kp PIPE       &kp COLON   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans         &kp RETURN
&trans  &kp GRAVE        &kp SLASH      &kp ASTERISK      &kp AT_SIGN  &kp CARET               &kp TILDE      &kp PRCNT   &kp LBRC              &kp RBRC               &kp BACKSLASH  &trans
                                        &trans            &trans       &trans                  &kp RETURN     &trans      &trans
            >;
        };

        nav {
            display-name = "Nav";
            bindings = <
&trans  &trans  &trans        &trans            &trans          &trans      &trans    &kp HOME  &kp END       &trans     &trans  &kp DELETE
&trans  &trans  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &kp LGUI    &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans  &kp RETURN
&trans  &trans  &trans        &trans            &trans          &trans      &trans    &trans    &trans        &trans     &trans  &trans
                              &trans            &trans          &trans      &trans    &trans    &trans
            >;
        };

        function {
            display-name = "Function";
            bindings = <
&trans  &trans  &trans    &trans     &trans     &trans      &kp F9      &kp F10  &kp F11  &kp F12  &trans  &kp DELETE
&trans  &trans  &kp LALT  &kp LCTRL  &kp LSHFT  &kp LGUI    &kp F5      &kp F6   &kp F7   &kp F8   &trans  &kp RETURN
&trans  &trans  &trans    &trans     &trans     &trans      &kp F1      &kp F2   &kp F3   &kp F4   &trans  &trans
                          &trans     &trans     &trans      &kp RETURN  &trans   &trans
            >;
        };

        utils {
            display-name = "Utils";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans    &trans      &trans        &trans         &trans     &trans  &kp DELETE
&trans        &trans        &trans        &js_arrow_fn  &js_if_stmt   &trans    &trans      &git_push_ob  &git_commit_m  &git_pull  &trans  &kp RETURN
&trans        &trans        &trans        &trans        &trans        &trans    &trans      &trans        &trans         &trans     &trans  &trans
                                          &trans        &trans        &trans    &kp RETURN  &trans        &trans
            >;
        };
    };
};
