#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;     // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
    flavor = "balanced";
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
                &kp TAB    &kp Q        &kp W        &kp E        &kp R        &kp T                               &kp UP                &kp Y        &kp U        &kp I        &kp O        &kp P        &kp BSPC
                &td0       &kp A        &mt LALT S   &mt LCTRL D  &mt LSHFT F  &mt LGUI G              &kp LEFT   &kp ENTER    &kp RIGHT   &mt RGUI H   &mt RSHFT J  &mt RCTRL K  &mt RALT L   &kp SEMI    &kp SQT
                &kp LCTRL  &kp Z        &kp X        &kp C        &kp V        &kp B        &kp SPACE              &kp DOWN               &kp N        &kp M        &kp COMMA    &kp DOT      &kp FSLH     &kp ESC
                /* LEFT THUMBS ---------------------------- RIGHT THUMBS */
                &lt 2 LGUI    &kp BSPC      &kp TAB                        &lt 3 ENTER   &lt 1 SPACE    &lt 2 RALT
            >;
        };

lower_layer {
    display-name = "NUMBER";
    bindings = <
        &trans  &trans   &trans   &trans   &kp N1  &kp N2  &kp N3  &trans    &mmv MOVE_UP    &trans   &trans    &trans   &trans   &trans
        &trans  &kp N4   &kp N5   &kp N6   &trans   &trans   &trans   &mkp LCLK  &mmv MOVE_LEFT  &mkp LCLK   &mmv MOVE_RIGHT   &trans   &trans
        &trans  &kp N7   &kp N8   &kp N9   &trans   &trans   &trans   &trans   &kp N0     &trans   &trans    &trans   &trans
                            &trans  &trans  &trans   &trans      &trans       &trans
    >;
};

        raise_layer {
            display-name = "SYMBOL";
            bindings = <
                &trans  &trans        &trans        &trans        &kp BSLH    &kp DOT                             &mmv MOVE_UP                     &kp AMPS     &kp DLLR    &kp LBKT    &kp RBKT    &trans    &kp BSPC
                &trans  &kp EXCL      &kp MINUS     &kp PLUS      &kp EQUAL   &kp HASH           &mmv MOVE_LEFT   &mkp LCLK     &mmv MOVE_RIGHT &kp PIPE    &kp COLON   &kp LPAR    &kp RPAR   &trans   &trans
                &trans  &kp GRAVE     &kp FSLH      &kp ASTRK     &kp AT      &kp CARET  &kp C_MUTE             &mmv MOVE_DOWN                    &kp TILDE    &kp PRCNT   &kp LBRC    &kp RBRC    &trans   &kp ESC
                                     &trans        &trans      &trans                                                             &trans      &trans       &trans
            >;
        };

        layer_3 {
            display-name = "NAV";
            bindings = <
                &caps_word  &trans        &trans        &trans        &trans        &trans                             &mmv MOVE_UP                     &trans       &trans       &trans       &trans       &trans    &kp BSPC
                &trans      &trans        &kp LALT      &kp LCTRL     &kp LSHFT     &kp LGUI        &mmv MOVE_LEFT   &mkp LCLK     &mmv MOVE_RIGHT  &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT  &trans    &trans
                &trans      &trans        &trans        &trans        &trans        &trans          &trans            &mmv MOVE_DOWN                    &trans       &trans       &trans       &trans      &trans    &kp ESC
                                     &trans        &trans        &trans                                                                 &trans      &trans       &trans
            >;
        };
    };
};

